<h1>Odin Flight</h1>
<%= simple_form_for flights_path, method: :get do |f| %>
  <%= f.label "From" %>
  <%= f.select :origin, @airport_list %>
  <%= f.label "To" %>
  <%= f.select :destination, @airport_list, selected: 2 %>
  <%= f.select :number_passanger, 1..4 %>
  <%= f.select :departure_day, @departure_day, selected: Date.today %>
  <%= f.submit "Search" %>
<% end %>

<% unless params["/flights"].nil? %>
  <%= render 'flights/available_flights' %>
<% end %>

