<h1>New</h1>
<%= simple_form_for @booking do |f| %>
   <%= f.input :flight_id, as: :hidden, input_html: { value: params['booking'][:flight_id] }  %>
   <% params['booking'][:number_passanger].to_i.times do %>
    <%= f.simple_fields_for :passengers, @booking.passengers.build do |fp| %>
      <%= fp.input :name, input_html: { required: true, style: "outline: none" } %>
      <%= fp.input :email, input_html: { required: true, style: "outline: none" } %>   
    <% end %>
   <% end %>
  <%= f.submit %>
<% end %>